@{
    ViewData["Title"] = "Home Page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    -->
    <div style="        background-image: linear-gradient(#a80385,#499afc,#4cff00);" class="text-center">
        <h1 class="display-4" style="font-family: 'Tangerine', serif; font-size: 120px;">Products G&D </h1>
        <h2>Geidy Ducuara Ruiz</h2>
        <h2>Diego Estrada Beltrán</h2>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2019/04/10/12/34/fruit-seller-4117003_960_720.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2019/10/22/07/47/farmers-market-4567943_960_720.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2018/09/04/18/55/eat-3654444_960_720.png" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2019/04/10/12/34/fruit-seller-4117006_960_720.png" alt="Fourtd slide">
                </div>
            </div>
        </div>
    </div>
