@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Geidy Ducuara Ruiz - Student code: 200419082</h2>
<h2>Diego Alejandro Estrada - Student code: 200427046</h2>

<p>The use of this website can not be done without the previous Developer´s team authorization.</p>
<!--linear-gradient(#a80385,#499afc,#4cff00)-->
<div style="        background-image: linear-gradient(#a9bed6,#499afc,#287d00);
        border-radius: 25px;
        background-color: gainsboro">
    <img style=" width: 55%; padding: 5px; border-radius: 50px;" src="https://cdn.pixabay.com/photo/2018/07/15/22/58/italy-3540815_960_720.png" />
</div>
